<ng-container>
    <div class="background">
        <app-header-estatico class="container"></app-header-estatico>
        <div class="container-fluid m-0 bg-cone border-bottomone row animated bounce">
            <div class="col sm-4"></div>
            <div class="col sm-4 text-center py-3">

                <form name="form" [formGroup]='form'>
                    <div class="card-body" *ngIf="!passwordCambiado">
                        <label class="sr-only" for="exampleInputEmail1">nombre@ejemplo.com</label>


                        <div class="form-group input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg class="bi bi-lock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 00-1 1v5a1 1 0 001 1h7a1 1 0 001-1V9a1 1 0 00-1-1zm-7-1a2 2 0 00-2 2v5a2 2 0 002 2h7a2 2 0 002-2V9a2 2 0 00-2-2h-7zm0-3a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                                    </svg>
                                </div>
                            </div>
                            <input autocomplete="new-password" type="password" class="form-control form-control" placeholder="Password" name="password" [(ngModel)]="cambioPassword.password" formControlName='password'>
                        </div>


                        <div class="form-group input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg class="bi bi-lock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 00-1 1v5a1 1 0 001 1h7a1 1 0 001-1V9a1 1 0 00-1-1zm-7-1a2 2 0 00-2 2v5a2 2 0 002 2h7a2 2 0 002-2V9a2 2 0 00-2-2h-7zm0-3a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                                    </svg>
                                </div>
                            </div>
                            <input autocomplete="new-password" type="password" class="form-control form-control" placeholder="Confirmación" name="confirmation" [(ngModel)]="cambioPassword.confirmation" formControlName='confirmation'>
                        </div>
                    </div>

                </form>

                <div class="modal-footer without-border center" *ngIf="!passwordCambiado">
                    <button type="submit" class="btn btn-success float-right" (click)="cambiarPassword()" [disabled]='(!form.valid)'>Cambiar password</button>
                </div>

                <ng-container *ngIf="passwordCambiado">
                    <div class="alert alert-success animated bounce" role="alert">
                        <p>!El password ha sido cambiado!</p>
                        Podr&aacute;s iniciar sesi&oacute;n aqu&iacute;: <a [routerLink]="[ '/maps' ]" class="alert-link">link</a>.
                    </div>
                </ng-container>
            </div>
            <div class="col sm-4">
            </div>
        </div>
        <app-footer class="container"></app-footer>
    </div>
</ng-container>