<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="ayudaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row align-items-center h-100">  
          <div class="iconFlecha text-center w-100" *ngIf="_constantes.origen_ayudar === 'SOLICITA'" >
            <img class="iconFlecha" [src]="'../../../assets/imgs/pedir.png'"/>
          </div>
          <div class="iconFlecha text-center w-100" *ngIf="_constantes.origen_ayudar !== 'SOLICITA'" >
            <img class="iconFlecha" [src]="'../../../assets/imgs/dar.png'"/>
          </div>
            <h5 [ngClass]="{
              'text-danger letters': _constantes.origen_ayudar === 'SOLICITA',
              'text-primary letters':   _constantes.origen_ayudar !== 'SOLICITA'
            }" style="margin-top: 8px;">{{ _constantes.origen_ayudar === 'SOLICITA' ?  'SOLICITAR AYUDA' : 'OFRECER MI AYUDA' }}</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]='formulario'>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="email" autocomplete="new-password" class="form-control form-control-sm" id="nombre"
                  name="username" aria-describedby="emailHelp" placeholder="Ingresa tu nombre"
                  [(ngModel)]="globales.usuario.fullname" readonly  formControlName='nombre'>
              </div>

              <div class="form-group">
                <label for="tipo-ayuda">Tipo de ayuda</label>
                <select class="form-control form-control-sm" name="tipo-ayuda" id="tipo-ayuda" formControlName='tipo_ayuda'
                  [(ngModel)]="ayuda.tipoAyuda.id" (change)='actualizaTipoAyuda($event)'>
                  <option *ngFor="let item of tipoAyuda" [value]='item.id'> {{item.nombre}} </option>
                </select>
              </div>

              <div class="form-group">
                <label for="descripcion" class="col-form-label">Detalle</label>
                <textarea maxlength="240" class="form-control" id="descripcion"
                  name="descripcion" [(ngModel)]="ayuda.descripcion" formControlName='descripcion'></textarea>
              </div>            
            </div>
          </div>
          <div> 
            <button class="btn btn-primary btn-sm mb-2"
            [disabled]='!formulario.valid'
            (click)="enviarAyuda()"> Enviar </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
