<div class="modal fade" id="sensitiveInfoModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="sensitiveInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5>Informacion Sensible de la Ayuda</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="row" *ngIf="isLoaded">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
              <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ ayuda.ciudadano.nombre + ' ' + ayuda.ciudadano.paterno + ' ' + ayuda.ciudadano.materno }}</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">{{ ayuda.origenAyuda + ' ' + ayuda.tipoAyuda.nombre }}</h5>
                  <p class="card-text">{{ ayuda.descripcion }}</p>
                  <span *ngFor="let contacto of infoSensible.contactos" class="card-text">{{ contacto.tipoContacto + ':' + contacto.contacto }}</span>
                  <hr>
                  <span>Total matchs: <span class="badge badge-primary">{{ infoSensible.matchs.length  }}</span></span>
                </div>
            </div>
            </div>
            <div class="col-lg-2">
            </div>
          </div>
          <div class="row" *ngIf="isLoaded">
            <div class="col-lg-12">
              <div class="accordion" id="accordionMatchs">
                <div *ngFor="let match of infoSensible.matchs" class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseMatch-' + match.id" aria-expanded="true" aria-controls="collapseOne">
                        {{ match.tipoMatch === 'MANUAL' ? match.ciudadano.nombreCompleto : match.ayudaMatch.ciudadano.nombreCompleto }}
                      </button>
                    </h2>
                  </div>
              
                  <div id="{{ 'collapseMatch-' + match.id }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionMatchs">
                    <div class="card-body">
                      {{ match.tipoMatch + ' - ' + match.fechaPeticion }}
                      <hr>
                      {{ match.tipoMatch !== 'MANUAL' ? match.ayudaMatch.descripcion : '' }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!isLoaded">
            <div class="alert alert-secondary" role="alert">
              No hay informacion
            </div>
          </div>
        </div>
        <div class="modal-footer without-border">
          <button type="submit" class="btn btn-danger float-right" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  