<div class="modal fade" id="registroModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Registrar usuario</h5>
      </div>
      <div class="modal-body row">
        <div class="col-md-12">
          <form [formGroup]='formulario_crear_usuario'>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Email</label>
                <div class="col-lg-8">
                  <input type="email" autocomplete="new-password" class="form-control" name="email-registro" aria-describedby="emailHelp"
                    [(ngModel)]="usuario.username_n" formControlName='username_n'>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Password</label>
                <div class="col-lg-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <ng-container *ngIf="!this.formulario_crear_usuario.get('password2').valid; else elseTemplate">
                          <a class="text-danger" data-toggle="collapse" href="#passwordInfoCollapse" role="button" aria-expanded="false" aria-controls="passwordInfoCollapse">
                            <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                              <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                            </svg>
                          </a>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <a class="text-success" data-toggle="collapse" href="#passwordInfoCollapse" role="button" aria-expanded="false" aria-controls="passwordInfoCollapse">
                            <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                              <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                            </svg>
                          </a>
                        </ng-template>
                      </div>
                    </div>
                    <input type="password" autocomplete="new-password" class="form-control" id="passnewc"
                      [(ngModel)]="usuario.password2" name="password-registro" formControlName='password2'>
                  </div>
                  <div class="collapse" id="passwordInfoCollapse">
                    <div class="alert alert-warning" role="alert">
                      <small id="format-pass">
                        La contraseña debe cumplir: <br>
                        1. Entre 8 y 16 caracteres. <br>
                        2. Al menos una letra minúscula. <br> 
                        3. Al menos una letra mayúscula. <br>
                        4. Al menos un caracter de la lista [-*_#@().!%&]. <br>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-lg-4 col-form-label form-control-label">Confirma password</label>
                  <div class="col-lg-8">
                    <input type="password" autocomplete="new-password" class="form-control" id="passnewc2"
                      [(ngModel)]="usuario.password_confirm" name="password-confirma-r"
                  formControlName='password_confirm'>
                    <div class="" *ngIf="usuario.password2 !==  usuario.password_confirm" >
                      <div class="alert alert-danger  " role="alert">
                        <small>Las contraseñas no coinciden.</small>
                      </div>
                    </div>
                  </div>
              </div> 
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Nombre(s)</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control form-control" id="nombrea" [(ngModel)]="usuario.nombre"
                  name="nombre-registro" formControlName='nombre' >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Apellido Paterno</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control form-control" id="apellido-paterno"
                  [(ngModel)]="usuario.paterno" name="paterno" formControlName='paterno' >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Apellido Materno</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control form-control" id="apellido-materno"
                  [(ngModel)]="usuario.materno" name="apellido-materon" formControlName='materno'>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-4 col-form-label form-control-label">Medio de contacto</label>
                <div class="col-lg-4">
                  <select class="form-control form-control" [(ngModel)]="usuario.contactInfos[0].tipoContacto"
                    name="medio-contacto" id="medio-contacto" formControlName='tipoContacto'>
                    <option value="">Seleccione...</option>
                    <option value="TELEFONO_FIJO">Telefono Fijo</option>
                    <option value="TELEFONO_MOVIL">Telefono Movil</option>
                    <option value="WHATSAPP">WhatsApp</option>
                    <option value="TWITTER">Twitter</option>
                    <option value="SKYPE">Skype</option>
                    <option value="FACEBOOK">Facebook</option>
                    <option value="OTRO">Otro</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control form-control" id="tel"
                    [(ngModel)]="usuario.contactInfos[0].contacto" name="contacto" formControlName='contacto' >
                </div>
              </div> 
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer without-border">
        <button type="submit" class="btn btn-danger float-right" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary float-right" (click)="registro()"
        [disabled]='(!formulario_crear_usuario.valid)
        ||
        (usuario.password2 !==  usuario.password_confirm)'
        >Enviar</button>
      </div>
    </div>
  </div>
</div>