<!--div class=" over-map-footer">
    <div class="col-6 text-left">
        <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" (click)="origenAyuda('OFRECE')">Ofrecer Ayuda</button>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" (click)="origenAyuda('SOLICITA')">Necesito Ayuda</button>
    </div>
</div-->

<div class="container-fluid m-0 bg-ctwo border-topone mt-5 row">
    <div class="col sm-4"></div>
    <div class="col sm-4 text-center py-5">
        <h4 class="font-weight-bold text-white pb-0 mb-0">#PlataformaMexicoCovid19</h4>
        <h5 class="text-white pb-0 mb-0">¡Conectar puntos es lo que multiplica!</h5>
    </div>
    <div class="col sm-4"></div>
</div>

<app-registro-inicio></app-registro-inicio>