<div class="collapse mt-0 mt-sm-5 " id="collapseExample">
  <div class="row">
    <div class="col-sm-12 col-md-4 ml-auto mt-0 mt-sm-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of _constantes.puntos_marcados">
            <td> {{ item.ciudadano.nombre }} {{ item.ciudadano.paterno }} {{ item.ciudadano.materno }} </td>
            <td> {{item.tipoAyuda.nombre}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>