/*.over-map {
    position: absolute;
    z-index: 6;
    margin: 10px 5px;
    background: #00000059;
    padding: 15px 10px;
    border-radius: 5px;
    width: 98%;
}
.navbar {
    z-index: 8;
    top: -25px;
}

hr{
    border: 1;
    width: 100%;
    border: 0.5px solid rgba(154, 157, 160, 0.15);
}*/

.bg-cone{
    background-color: #ffffff;
}
.border-bottomone{
    border-bottom: 5px solid #86cdcd;
}

.size-img{
    width: 70%;
}

.size-img{
    width: 70%;
}

.header-label {
    padding-left: 10px;
}