<ng-container *ngIf="soporta_geolocacion; else noSoporta">
    <div class="background">
        <app-header class="container"></app-header>
        <app-mapa #mapaComponent (setOrigenContactar)="setOrigenContactar($event)"></app-mapa>
        <app-footer class="container" (setOrigenContactar)="setOrigenContactar($event)"></app-footer>
        <app-inicio (actualizaAyuda)='getTiposAyuda()' > </app-inicio>
        <app-registro></app-registro>
        <app-ayuda [tipoAyuda]='tipoAyuda' [provincias]='lista_provincias' (actualizaMapa)='actualizaPosicion()'>
        </app-ayuda>
        <app-welcome></app-welcome>
        <app-loading *ngIf="constantes.isLoading"></app-loading>
    </div>
</ng-container>
<ng-template #noSoporta>
    <h1>Este navegador no soporta geolocación, para una mejor experiencia utilice la ultima versión de Google Chrome.
    </h1>
</ng-template>
