.bg-cone{
    background-color: #ffffff;
}
.border-bottomone{
    border-bottom: 5px solid #86cdcd;
}

.size-img{
    width: 70%;
}

.size-img{
    width: 70%;
}

.header-label {
    padding-left: 10px;
}