<div class="container-fluid m-0 bg-cone border-bottomone row">
    <div class="col sm-4"></div>
    <div class="col sm-4 text-center py-3">
        <img src="../assets/imgs/LogotipoShadow.png"  class="figure-img img-fluid size-img">
    </div>
    <div class="col sm-4"></div>
</div>
<div class="container shadow-sm bg-ligth border border-top-0 py-4">
	<div class="card">
		<div class="card-header m-0 p-0">
            <app-header></app-header>
        </div>
		<div class="card-body p-0 m-0">
            <app-mapa></app-mapa>
            <!--router-outlet></router-outlet-->
        </div>
		<div class="card-footer m-0 p-0">
            <app-footer></app-footer>
        </div>
    </div>
    <em><h4 class="text-center mt-3 text-cone font-weight-bold">¡Veamos cuánto más podemos hacer juntos!</h4></em>
</div>
<div class="container-fluid m-0 bg-ctwo border-topone mt-5 row">
    <div class="col sm-4"></div>
    <div class="col sm-4 text-center py-5">
        <h4 class="font-weight-bold text-white pb-0 mb-0">#PlataformaMexicoCovid19</h4>
        <h5 class="text-white pb-0 mb-0">¡Conectar puntos es lo que multiplica!</h5>
    </div>
    <div class="col sm-4"></div>
</div>
