<div class="modal fade bd-example-modal-xl" id="welcomeModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header without-border">

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
              <img class="logotipo-pmc figure-img img-fluid size-img" [src]="'assets/imgs/logotipo_1760_574.png'" alt="M&#233;xico vs Covid19">
            </div>
            <div class="col-lg-4">
            </div>
          </div>
          <div class="row bg-collage">

          </div>
          <div class="margin">
                <blockquote class="blockquote text-center">
                  <p class="mb-0">¡Veamos cuánto más podemos hacer juntos!</p>
                  <footer class="blockquote-footer"><cite title="Source Title">Y retiemble en sus centros la tierra.</cite></footer>
                </blockquote>
          </div> 
          <div class="row margin">
            <div class="col-lg-4">
              <button type="button" data-dismiss="modal" class="btn btn-primary btn-lg btn-block" (click)="openModal('registroModal')">REGISTRO</button>
            </div>
            <div class="col-lg-4">
              <button type="button" data-dismiss="modal" class="btn btn-success btn-lg btn-block" (click)="openModal('inicioModal')">INICIAR SESION</button>
            </div>
            <div class="col-lg-4">
              <button type="button" data-dismiss="modal" class="btn btn-secondary btn-lg btn-block">INVITADO</button>
            </div>
          </div>

        <div class="modal-footer without-border">
          <a class="small" href=""> Aviso de privacidad</a>
        </div>
      </div>
    </div>
  </div>
</div>
