<div class="modal fade" id="recuperacionModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="recuperacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recuperacionModalLabel" align="center">Recuperar cuenta</h5>
            </div>
            <div class="modal-body row" *ngIf="!recuperacionEnviada">
                <div class="col-md-12">
                    <form name="form" [formGroup]='form'>
                        <div class="card-body">
                            <label class="sr-only" for="exampleInputEmail2">nombre@ejemplo.com</label>
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="email" autocomplete="new-password" class="form-control form-control" id="exampleInputEmail2" name="username" aria-describedby="emailHelp" placeholder="nombre@ejemplo.com" [(ngModel)]="usuario.username" formControlName='username'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer without-border" *ngIf="!recuperacionEnviada">
                <button type="submit" class="btn btn-danger float-right" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                <button type="submit" class="btn btn-success float-right" [disabled]='(!form.valid)' (click)="recuperarPassword()">Recuperar password</button>
            </div>
            <ng-container *ngIf="recuperacionEnviada">
                <div class="alert alert-success anima animated bounce" role="alert">
                    ¡Gracias! Hemos enviado un correo electr&oacute;nico a tu bandeja para realizar la recuperaci&oacute;n de tu cuenta.
                </div>

                <div class="modal-footer without-border">
                    <button type="submit" class="btn btn-success float-right" data-dismiss="modal" (click)="cerrarModal()">Entendido</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>