agm-map {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: center;
  }
.agm-map-container { height: 20px; }

agm-marker{
  width: 50px !important;
}
.contenedor-map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}