<ng-container>
    <div class="background">
        <app-header-estatico class="container"></app-header-estatico>
        <div class="container-fluid m-0 bg-cone border-bottomone row">
            <div class="col sm-4"></div>
            <div class="col sm-4 text-center py-3">
                <ng-container *ngIf="validacion_correcta; else elseTemplate">
                    <div class="alert alert-success" role="alert">
                        Gracias tu correo electronico ha sido validado, ya puedes iniciar sesion en <a [routerLink]="[ '/maps' ]" class="alert-link">link</a>.
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="alert alert-danger" role="alert">
                        Lo sentimos el token que estas intentando validar ya fue utilizado, intenta iniciar sesion en <a [routerLink]="[ '/maps' ]" class="alert-link">link</a>.
                    </div>
                </ng-template>
            </div>
            <div class="col sm-4">
            </div>
        </div>
        <app-footer class="container"></app-footer>
    </div>
</ng-container>