<ng-container>
    <div class="background">
        <app-header (tipoAyudaCambio)="actualizarTipoAyuda($event)" class="container"></app-header>
        <div class="container-fluid m-0 bg-cone border-bottomone row">
            <div class="col sm-4"></div>
            <div class="col sm-4 text-center py-3">
                <ng-container *ngIf="validacion_correcta; else elseTemplate">
                    <div class="alert alert-success" role="alert">
                        A simple success alert with <a [routerLink]="[ '/maps' ]" class="alert-link">an example link</a>. Give it a click if you like.
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="alert alert-danger" role="alert">
                        A simple success alert with <a [routerLink]="[ '/maps' ]" class="alert-link">an example link</a>. Give it a click if you like.
                    </div>
                </ng-template>
            </div>
            <div class="col sm-4">
            </div>
        </div>
        <app-footer class="container" (setOrigenContactar)="setOrigenContactar($event)"></app-footer>
    </div>
</ng-container>



<!--div class="alert alert-success m-lg-5 my-5 max-width " role="alert">
    <h4 class="alert-heading">¡Bienvenido!</h4>
    <p>Su correo ha sido validado correctamente.</p>
    <hr>
    <p class="mb-0">Ahora puede iniciar sesión, para solicitar/ofrecer ayuda.</p>
    <p class="mb-0">
        <button [routerLink]="[ '/maps' ]" type="button" class="btn btn-outline-success my-3">Acceder</button>
    </p>
</div-->