<div class="modal fade" id="ayudaCiudadanoModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="ayudaCiudadanoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <div class="row align-items-center h-100">  
              <div class="iconFlecha text-center w-100" *ngIf="_constantes.origen_ayudar === 'SOLICITA'" >
                <img class="iconFlecha" [src]="'../../../assets/imgs/pedir.png'"/>
              </div>
              <div class="iconFlecha text-center w-100" *ngIf="_constantes.origen_ayudar !== 'SOLICITA'" >
                <img class="iconFlecha" [src]="'../../../assets/imgs/dar.png'"/>
              </div>
                <h5 [ngClass]="{
                  'text-danger letters': _constantes.origen_ayudar === 'SOLICITA',
                  'text-primary letters':   _constantes.origen_ayudar !== 'SOLICITA'
                }" style="margin-top: 8px;">{{ _constantes.origen_ayudar === 'SOLICITA' ?  'SOLICITAR AYUDA' : 'OFRECER MI AYUDA' }}</h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body row">
          <div class="col-md-12">
            <form [formGroup]='form_ayuda_ciudadano'>
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label form-control-label">Nombre(s)</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control form-control" id="ayuda-c-nombre" [(ngModel)]="ayuda.ciudadano.nombre"
                    name="nombre-registro" formControlName='nombre' >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label form-control-label">Apellido Paterno</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control form-control" id="ayuda-c-apellido-paterno"
                    [(ngModel)]="ayuda.ciudadano.paterno" name="paterno" formControlName='paterno' >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label form-control-label">Apellido Materno</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control form-control" id="ayuda-c-apellido-materno"
                    [(ngModel)]="ayuda.ciudadano.materno" name="materno" formControlName='materno'>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label form-control-label">Contactar</label>
                  <div class="col-lg-4">
                    <select class="form-control form-control" [(ngModel)]="ayuda.ciudadano.contactos[0].tipoContacto"
                      name="medio-contacto" id="ayuda-c-medio-contacto" formControlName='tipoContacto'>
                      <option value="">Seleccione...</option>
                      <option value="TELEFONO_FIJO">Telefono Fijo</option>
                      <option value="TELEFONO_MOVIL">Telefono Movil</option>
                      <option value="WHATSAPP">WhatsApp</option>
                      <option value="TWITTER">Twitter</option>
                      <option value="SKYPE">Skype</option>
                      <option value="FACEBOOK">Facebook</option>
                      <option value="OTRO">Otro</option>
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" class="form-control form-control" id="ayuda-c-tel"
                      [(ngModel)]="ayuda.ciudadano.contactos[0].contacto" name="contacto" formControlName='contacto' >
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Tipo Ayuda</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="tipo-ayuda" id="ayuda-c-tipo-ayuda" formControlName='tipoAyuda'
                        [(ngModel)]="ayuda.tipoAyuda.id" (change)='actualizaTipoAyuda($event)'>
                        <option *ngFor="let item of tipoAyuda" [value]='item.id'> {{item.nombre}} </option>
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descripcion" class="col-lg-4 col-form-label form-control-label">Detalle</label>
                    <div class="col-lg-8">
                        <textarea maxlength="240" class="form-control" id="descripcion" name="descripcion" 
                        [(ngModel)]="ayuda.descripcion" formControlName='descripcion'></textarea>
                    </div>
                </div>
            </div>
            </form>
          </div>
        </div>
        <div class="modal-footer without-border">
          <button type="submit" class="btn btn-danger float-right" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary float-right" (click)="registroAyuda()" [disabled]='!form_ayuda_ciudadano.valid'>Enviar</button>
        </div>
      </div>
    </div>
  </div>
  